{% extends "base.html"  %}
{% load static %}
{% block content %}

<body>
  {% include 'main/navbar.html' %}
  <main class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-lg-2 border-right border-bottom">
        {% include 'main/sidebar.html' %}
      </div>
      <div class="col-md-6 col-sm-6 col-lg-7 border-right">
        <div class="post-wrapper">
          <button class="btn btn-primary btn-sm mt-3 mb-3" id="post-btn">
            New Post
          </button>
          <div class="new-post m-3" style="display:none;">
            <form action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{form}}
              <input type="submit" class="btn btn-dark btn-sm m-3" id="newpost" value="Post">
            </form>

          </div>

        </div>
        <div class="">
          {% for post in posts %}
          <div class="card mb-3 border m-3">
            <figure class="float-left " >
              <img src="{{user.profile.profile_pic.url}}" alt="image" class="rounded-circle" style="width:60px; height:60px">
              <p class="card-title "> <strong> <small>@{{post.user.username}}</small> </strong> </p>
            </figure>
            <div class="card-body">
              <p class="card-text">
                {{post.post}}
              </p>
              <figure>
                <img src="{{post.image.url}}" alt="image" class="img-fluid" style="height:240px; border-radius:10px;">
              </figure>


              
              <small class="fw-3 float-right"> <strong>{{post.created_on}}</strong> </small>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
      <div class="col-md-3 col-sm-3 col-lg-3 border-left">
        
        <p>{{request.user.profile.neighborhood.name}}</p>
      </div>
    </div>
  </main>
</body>

</html>
{% endblock content %}