{% extends "base.html"  %}
{% load static %}
{% block content %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
</head>

<body>

    <main>

        <section class="intro">
            <div class="overflow-hidden">
                <div class="p-lg-5 mx-auto my-5">
                    <h1 class="name">Area Code</h1>
                    <p class="lead fw-normal">Get The Trending Topics, News and Gossip in your neighborhood. </p>
                    <div class="btn-start ">
                        <a class="btn btn-outline-dark m-4 " href="/accounts/login/">Log In</a>
                        <a class="btn btn-outline-dark m-4" href="/accounts/register/">Sign Up</a>

                    </div>
                </div>

            </div>
        </section>
        <div class="container">
            <h3>
                Good Things Come in a package...
            </h3>
            <small><strong>Get Everything on your neighborhood at Areacode</strong></small>
        </div>

        <section class="services">

            <div class="service-box">
                <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 shadow bg-light rounded">
                    <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                        <div class="my-3 p-3 ">
                            <h2 class="display-5">Trending Topics</h2>
                            <p class="lead">All trending topics in your neighborhood.</p>
                        </div>
                        <div class="bg-body mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                            <img src="https://imgs.search.brave.com/cX4P1Vvnyrqh2qjdbr3ZzIcDI0BKhf2c9E7Ipm5DA1M/rs:fit:470:249:1/g:ce/aHR0cHM6Ly9zdGVl/bWl0aW1hZ2VzLmNv/bS9EUW1SQ3VmOFRv/WWthVktXazYyUnh2/cUFnalROZmNndmNT/Wm5tOHFQRHJrWmJr/US90cmVuZGluZzMu/anBn"
                                alt="" class="img-fluid" style="width:400px">
                        </div>
                    </div>

                </div>
            </div>
            <div class="service-box">
                <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 shadow bg-light rounded">
                    <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                        <div class="my-3 p-3">
                            <h2 class="display-5">Businesses</h2>
                            <p class="lead">You dont have to worry about about Shopping.</p>
                        </div>
                        <div class="bg-body mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                            <img src="https://images.unsplash.com/photo-1612776561584-394d456a751d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1925&q=80"
                                alt="" class="img-fluid" style="width:400px">
                        </div>
                    </div>

                </div>
            </div>
            <div class="service-box">
                <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 shadow bg-light rounded">
                    <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                        <div class="my-3 p-3">
                            <h2 class="display-5">Schools</h2>
                            <p class="lead">Get your kids the best.</p>
                        </div>
                        <div class="bg-body mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                            <img src="https://images.unsplash.com/photo-1588072432836-e10032774350?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80"
                                alt="" class="img-fluid" style="width:400px">
                        </div>
                    </div>

                </div>
            </div>
            <div class="service-box">
                <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 shadow bg-light rounded">
                    <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                        <div class="my-3 p-3">
                            <h2 class="display-5">Hospitals</h2>
                            <p class="lead">Get all the information you need on crucial amenities.</p>
                        </div>
                        <div class="bg-body mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                            <img src="https://images.unsplash.com/photo-1581360742512-021d5b2157d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2079&q=80"
                                alt="" class="img-fluid" style="width:400px">
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <div class="btn-start text-center m-5">
            <a class="btn bg-dark text-white btn-outline-dark " href="/accounts/register/">Sign Up</a>

        </div>
    </main>

    <footer class="container py">
        <div class="row">
            <div class="col-12 col-md">
                <i class="fa-solid fa-earth-africa h3"></i>
                <small class="d-block mb-3 text-muted">&copy; 2022</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Cool stuff</a></li>
                    <li><a class="link-secondary" href="#">Random feature</a></li>
                    <li><a class="link-secondary" href="#">Team feature</a></li>
                    <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                    <li><a class="link-secondary" href="#">Another one</a></li>
                    <li><a class="link-secondary" href="#">Last time</a></li>
                </ul>
            </div>

            <div class="col-6 col-md">
                <h5>Services</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Business</a></li>
                    <li><a class="link-secondary" href="#">Education</a></li>
                    <li><a class="link-secondary" href="#">Government</a></li>
                    <li><a class="link-secondary" href="#">Hospitals</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Team</a></li>
                    <li><a class="link-secondary" href="#">Locations</a></li>
                    <li><a class="link-secondary" href="#">Privacy</a></li>
                    <li><a class="link-secondary" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>


</body>

</html>
{% endblock content %}